.ButtonBox{
    padding: 8px;
}
.signinButton{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0d6efd;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.signinButton:hover{
    background-color: #0147b1;
}

.loadingButton:disabled{
    background-color: lightgray;
    cursor: initial;
}