.inputText{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}
.inputText .inputValidationErrorSpan {
    color: red;
    font-size: 12px;
}
