.boxHeader{
    font-weight: 600;
    font-size: 3vh;
    padding: 15px;
}
.boxBriefHeader {
    color: gray;
}
.loginFormBox{
    padding: 15px;
    border: solid 1px red;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background-color: white;
    
}
form{
    width: 100%;
}
.flexCenteredColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forgetORsignupBox *{
    margin-top: 5px;
}

@media screen and (width > 768px) {
    .loginFormBox {
        width: 50%;
    }
    .boxHeader{
        font-size: 24px;
    }
}