:root {
    --pink-bg: #ff8fab;
}

.flex {
    display: flex;
}

.flex-centered-items {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.flex-spacearound {
    justify-content: space-between;
}

.flex-center-align {
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-column-items {
    flex-direction: column;
}

.center-justified {
    justify-content: center;
}

.center-aligned {
    align-items: center;
}

.white-text {
    color: white;
}

.padding-8px {
    padding: 8px;
}

.center-text {
    text-align: center;
}

.margin-6px {
    margin: 6px;
}

.gray-color {
    color: gray;
}

.margin-30px-top {
    margin-top: 20px;
}

.bg-white {
    background-color: white;
}

.form-header {
    font-weight: 500;
    text-align: center;
}

.form-header-desc {
    color: gray;
    text-align: center;
}

.page-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.shadowed {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}


.nav-link-menu-items {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: large;
    font-weight: 500;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.nav-link:not(.logo-link)::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    margin-top: 25px;
    height: 3px;
    background-color: rgb(160, 189, 56);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.2s ease-in;
}

.nav-link:not(.logo-link):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo {
    display: inline-block;
    color: rgb(55, 55, 146);
}

.logo * {
    text-decoration: none;
    font-weight: 600;
}

.full-width {
    width: 100vw;
}

.home-welcome-logo {
    border: solid 1px;
    height: 80vh;
    background-image: url('https://cdn.govexec.com/media/featured/gai-accelerated_ai/gaiacceleratedaiparallax.jpg');
}

.home-img-container {
    background-image: url('https://images.hdqwalls.com/wallpapers/abstract-constellation-4f.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    filter: brightness(10px);
    backdrop-filter: filter;
}

#quick-action-button {
    border-radius: 30px;
    background-color: inherit;
    border: solid 2px rgb(160, 189, 56);
    backdrop-filter: blur(10px);
    color: rgb(160, 189, 56);
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-shadow: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quick-action-button:hover {
    color: rgb(160, 189, 56);
    box-shadow:
        0 0 10px rgb(160, 189, 56),
        0 0 30px rgb(160, 189, 56),
        0 0 60px rgb(160, 189, 56),
        0 0 100px rgb(160, 189, 56);
}

.arrow-icon {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#quick-action-button:hover .arrow-icon {
    opacity: 1;
    transform: translateX(20px);
}



@keyframes rotate {
    from {
        transform: scale(1)
    }

    to {

        transform: scale(1.05)
    }
}

.sign-link {
    color: white;
    margin-left: 20px;
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}


.sign-link:hover {
    color: rgb(160, 189, 56);
    font-weight: bolder;
    text-shadow:
        0 0 10px rgb(160, 189, 56),
        0 0 20px rgb(160, 189, 56),
        0 0 40px rgb(160, 189, 56),
        0 0 80px rgb(160, 189, 56),
        0 0 120px rgb(160, 189, 56);
    font-size: 20px;
}


.signin-form-help p {
    display: block;
    font-size: 14px;
}

.signin-form-help {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 10px;
}

.signin-form-help a {
    text-decoration: none;
}

.signin-form-help p a:hover {
    color: rgb(136, 136, 214);
    text-decoration: underline;
}
/*
.card-profile-image {
    height: 200px;
    width: auto;
    border-radius: 100%;
}*/

.acceptedReq {
    background-color: #95d5b2;
}
.rejectedReq {
    background-color: #fcb9b2;
}