@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Kufi+Arabic:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Kufi+Arabic:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    font-family: "42dot Sans", sans-serif !important;
}

body {
    margin: 0;
    height: 100lvh;
}

.arabic{
    font-family: "Nunito", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: large;
}
:root {
    --light-pink-bg: #c599a6;
    --dark-bg: #4a5759;
    --font-family: "42dot Sans", serif;
    --dark-bg: #44778b;
}
.darkmode {
    color: wheat;
}