@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
   font-family: "42dot Sans", sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

:root {
    --light-pink-bg: #c599a6;
    --dark-bg: #4a5759;
    --font-family: "42dot Sans", serif;
    --dark-bg: #44778b;

}